<h5> Id #<%= @item[:id] %> </h5>

<%= form_for :good, url: good_path, method: :put do |f|%>
  <p>
    <%= f.label :title %> 
    <%= f.text_field :title, value: @item[:title] %>
  </p>
  <p>
    <%= f.submit 'Сохранить' %>

  </p>
<hr/>


<% end %>

    <%= form_for :good, url: good_path, method: :delete, data: { confirm: 'Are you sure?'} do |f|%>
        <%= f.submit 'Удалить' %>
    <% end %>