<h2> Все товары <small> <em><%= link_to 'Создать', new_good_path %></em></small></h2> 

<% @items.each do |item| %>
    <p><b> Title #<%= item[:id] %>: <%= link_to item[:title], good_path(item) %> </b> 
        <small><em>
                ( <%= link_to 'edit', edit_good_path(item) %> | <%= link_to 'delete', good_path(item), method: :delete, data: { confirm: 'Are you sure?' } %> )
        </em></small><br/>
    </p>
   <hr>
<% end %>