<h5>Id # <%= @item[:id]%><small><em> 
    (<%= link_to 'edit', edit_good_path(@item) %> | <%= link_to 'delete', good_path(@item), method: :delete, data: { confirm: 'Are you sure?' } %>)
</small>
</em></h5> 

<h4> Title is <em><%= @item[:title] %> </em> </h4>
<hr/>

<h5> Revenue </h5>
<ol>
  <% @item.day.each do |day| %>

      <p>#<%= day[:id] %> </p>
      Дата: <%= day[:date] %> <br/>

      Revenue: <em><%= day[:revenue] %> </em> <br/> Создано: <%= day[:created_at] %>
      
       <small><em>
                ( <%= link_to 'edit', edit_good_day_path(@item, day) %> | <%= link_to 'delete', good_day_path(@item, day), method: :delete, data: { confirm: 'Are you sure?' } %> )
        </em></small><br/>
      </p>
  <% end %>
</ol>